<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>顔写真登録 | まちのサッカークラブ</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}">
  <link rel="stylesheet" href="https://www.fuelcdn.com/fuelux/3.10.0/css/fuelux.min.css" th:href="@{/webjars/fuelux/3.10.0/dist/css/fuelux.min.css}">
  <link rel="stylesheet" href="../static/css/machinosoccerweb.css" th:href="@{css/machinosoccerweb.css}" media="all">
</head>
<body>
  <div class="container">
    <div class="fuelux">
      <div class="wizard" data-initialize="wizard" id="myWizard">
        <div class="steps-container">
          <ul class="steps">
            <li data-step="1" data-name="campaign" data-restrict="previous"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>アドレス確認<span class="chevron"></span></li>
            <li data-step="2" data-restrict="previous" class="active"><span class="glyphicon glyphicon glyphicon-camera" aria-hidden="true"></span>顔写真<span class="chevron"></span></li>
            <li data-step="3" data-name="template" data-restrict="previous"><span class="glyphicon glyphicon glyphicon-flag" aria-hidden="true"></span>完了<span class="chevron"></span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main">
      <h2>顔写真アップロード</h2>

      <form method="POST" id="uploadForm" enctype="multipart/form-data" th:action="@{|/upload|}"
            th:novalidate="${@environment.acceptsProfiles('development')}">
        <fieldset th:object="${memberForm}">
        <legend>入会者情報</legend>
        <div class="form-group required">
          <label class="control-label" for="name">名前（漢字）</label>
          <input type="text" name="name" id="name" class="form-control"
                 data-validation-error-msg="入力してください"
                 th:field="*{name}"
                 required />
          <span th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}" class="text-danger">入力してください</span>
        </div>
        <div class="form-group required">
          <label class="control-label" for="nameKana">名前（ふりがな）</label>
          <input type="text" name="nameKana" id="nameKana" class="form-control"
                 data-validation-error-msg="入力してください"
                 th:field="*{nameKana}"
                 required />
          <span th:if="${#fields.hasErrors('nameKana')}"
                th:errors="*{nameKana}" class="text-danger">入力してください</span>
        </div>
        <div class="form-group required">
          <label class="control-label">学年</label>
          <div class="radio">
            <label
                th:each="grade: ${T(machinosoccerweb.members.models.Grade).values()}"
                class="radio-inline" th:inline="text"> <input
                type="radio" name="grade" th:field="*{grade}"
                th:value="${grade}" required>[[${grade.label}]]
            </label>
            <span id="helpPr" class="help-block">
              *お手伝い頂いている保護者の方、お手伝いコーチの方もよろしければご登録ください</span>
            <span th:if="${#fields.hasErrors('grade')}" class="text-danger"
                  th:errors="*{grade}">Error</span>
          </div>
        </div>
        <div class="form-group required">
          <label class="control-label">性別</label>
          <div class="radio">
            <label
                th:each="gender: ${T(machinosoccerweb.members.models.Gender).values()}"
                class="radio-inline" th:inline="text"> <input
                type="radio" name="gender" th:field="*{gender}"
                th:value="${gender}" required/>[[${gender.label}]]
            </label>
            <span th:if="${#fields.hasErrors('gender')}" class="text-danger"
                           th:errors="*{gender}">Error</span>
          </div>
        </div>
        <div class="form-group required">
          <label class="control-label" for="photo">顔写真</label>
          <input type="file" id="file" name="file"
                 accept="image/gif, image/png, image/jpg, image/jpeg"
                 data-validation="mime size required"
                 data-validation-allowing="jpg, jpeg, png, gif"
                 data-validation-max-size="2kb"
                 data-validation-error-msg-size="サイズが大きすぎます（5MB以下のファイルにしてください）"
                 data-validation-error-msg-mime="画像ファイルを選択してください"
                 data-validation-error-msg-required="写真を選択してください"
                 required />
          <span th:if="${#fields.hasErrors('file')}"
                th:errors="*{file}" class="text-danger">
            写真のファイル形式は<code>gif, png, jpg(jpeg)</code>です。
            写真のサイズが大きすぎると時間がかかったりエラーになることがありますので、
            その場合は時間をおいてやり直すか、トリミングするなどしてサイズを小さくしてやり直してください。
          </span>

          <p class="help-block" id="photo-help">
            <ul>
              <li>学年や性別で区別がつくようであれば、ご家族や他の方と一緒の写真でも構いません</li>
              <li>顔が分かる写真であればアップでなくても構いません</li>
              <li>後から写真を変更することもできます</li>
            </ul>
          </p>
        </div>
        <div class="form-group">
          <input type="submit" id="uploadSubmit" class="btn btn-success btn-block" value="送信" />
          <span id="helpBlock" class="help-block">プライバシーポリシーの詳細についてはこちらの<a href="http://goo.gl/6Gbiyr" target="_blank">リンク</a>をご確認ください</span>
        </div>
        </fieldset>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"
            th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js}"></script>
    <script>
    $.validate({
      modules : 'file, html5'
    });

    $('#uploadForm').submit(function(e) {
      var isValid = $(e.target).isValid(null, null, false);
      $('#uploadSubmit').prop('disabled', isValid);
      return isValid;
    });

    $('#photo').change(function(e) {
      $('#uploadSubmit').focus();
    });
    </script>
  </div>
</body>
</html>