body *{
  font-family: “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
}

h1,h2{
  font-weight: 200;
}

h3,h4,h5{
  font-weight: 100;
}

header {
	text-align: center;
  word-break: keep-all;
	padding-top: 8px;
	padding-bottom: 4px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

footer {
	text-align: right;
	padding: 24px 0 4px 0;
}

.form-group.required .control-label:after {
  content:"*";
  vertical-align: super;
  color:red;
}

.notice-box {
  display: block;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #747474;
}

/*
 * fuelux customization
 */
.fuelux .wizard  {
  min-height: 38px;
}

.fuelux .wizard .steps-container ul.steps li {
  font-size: 14px;
  padding-right: 3px;
}

.fuelux .wizard .steps-container ul.steps li:first-child {
  padding-left: 3px;
}

.fuelux .wizard .steps-container ul.steps li.completed a:link {
  color: #999
}

.fuelux .wizard .steps-container ul.steps li.completed a:visited {
  color: #999
}
