<!DOCTYP html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>まちのサッカークラブ</title>
  <link rel="stylesheet" href="css/machinosoccerweb.css" media="all"/>
</head>
<body>
<div class="container">
  <header>
    <hgroup>
      <h2>まちのサッカークラブ 柏の葉</h2>
    </hgroup>
  </header>
  <div class="main">
    <h2>参加者情報を受け付けました。</h2>
    <p>
      <div>申し込みありがとうございます。
      引き続き、他のお子様の顔写真を登録される方は、以下のリンクをクリックして登録してください。
        <div><a href="/upload">顔写真登録</a></div>
      </div>

      すべての方の登録が終わりましたら、初回参加時までに以下の書類等、ご用意ください。</p>
    <h3>書類のご提出（今年度、既にご提出頂いた方は不要です）</h3>
    <p>
      <div>「参加にあたって同意が必要な事項」をお読みいただき、同意書を印刷・署名のうえ、参加時にお持ちください</div>
      <div>（小学生のみ）保険加入申込書に署名のうえ、加入費と一緒にお持ちください</div>
      <ul>
        <li><label>参加にあたって同意が必要な事項</label> <a href="https://goo.gl/FT5ooT" target="_blank">https://goo.gl/FT5ooT</a></li>
        <li><label>（小学生のみ）別紙 スポーツ安全保険加入</label> <a href="https://goo.gl/r2riu7" target="_blank">https://goo.gl/r2riu7</a></li>
        <li><label>（小学生のみ）別添 スポーツ安全保険のあらまし</label> <a href="https://goo.gl/m9tR4h" target="_blank">https://goo.gl/m9tR4h</a></li>
      </ul>
    </p>
  </div>
</div>
<footer>
  <hr />
  <small>
    ©2013-2015 まちのサッカークラブ柏の葉
    <address><a href="mailto:machinosoccer2013@gmail.com">machinosoccer2013@gmail.com</a>
  </small>
</footer>
</html>