<!DOCTYP html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="images/favicon.ico"/>

    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
    </style>

    <title>柏の葉　まちのサッカークラブ</title>
    <link rel="stylesheet" href="css/machinosoccerweb.css" media="all"/>
</head>
<body>
<div class="container">
    <header>
        <hgroup>
            <h2>
                <img src="images/profile.jpg" alt="まちのサッカークラブシンボル" class="img-profile img-rounded"/>
            </h2>
            <h1>柏の葉　まちのサッカークラブ</h1>
            <!--
            <p class="lead">柏の葉　まちのサッカークラブは、柏の葉の地域で活動するコミュニティです。</p>
            -->
        </hgroup>
    </header>
    <div class="main">
        <h2>参加申し込みを受け付けました。</h2>
        <p>
            以下のリンクから「参加にあたって同意が必要な事項」をお読みいただき、ご自身で印刷した同意書と保険加入申込書に署名のうえ、次回参加時にお持ちください。
            （今年度、既にご提出頂いた方は不要です。）
        <ul>
            <li>http://xxxxxxxx</li>
            <li>http://xxxxxxxx</li>
        </ul>
        </p>
    </div>
</div>
<footer>
    <small>
        &copy;2013-2015 柏の葉　まちのサッカークラブ
        <address><a href="mailto:machinosoccer2013@gmail.com">machinosoccer2013@gmail.com</a></address>
    </small>
</footer>
</body>
</html>
