<!DOCTYP html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>まちのサッカークラブ</title>
  <link rel="stylesheet" href="css/machinosoccerweb.css" media="all"/>
</head>
<body>
<div class="container">
  <header>
    <hgroup>
      <h2>まちのサッカークラブ 柏の葉</h2>
    </hgroup>
  </header>
  <div class="main">
    <h2>参加申し込みを受け付けました。</h2>
    <p>
    <div>参加申し込みありがとうございます。</div>
    <div>引き続き、以下のページから顔写真の登録をお願いします。</div>
    </p>
    <h3>顔写真登録のお願い</h3>
    <p>
      本人確認のため、お子様の顔写真の登録にご協力願います。
      登録はこちらの<a href="/upload">ページ</a>からお願いします。
      <span class="notice-box">
        <small>投稿頂いた写真はプログラムの実施・運営のために使用します。プライバシーポリシーの詳細についてはこちらの<a href="http://goo.gl/6Gbiyr" target="_blank">リンク</a>をご確認ください</small>
      </span>
    </p>
  </div>
</div>
<footer>
  <hr />
  <small>
    ©2013-2015 まちのサッカークラブ柏の葉
    <address><a href="mailto:machinosoccer2013@gmail.com">machinosoccer2013@gmail.com</a>
  </small>
</footer>

</html>