<!DOCTYP html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title th:text="#{view.title('ログインできませんでした')}"></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../static/css/machinosoccerweb.css"
        th:href="@{/css/machinosoccerweb.css}" media="all">
</head>
<body>
  <h2>ログインできませんでした</h2>
  <section>
    ログインリンクに誤りがあるか、有効期限が切れています。リンクを確認の上、アドレスバーに正しく入力してください。
    有効なログインリンクを取得する場合は、以下のボタンを押してください。
  </section>
  <section>
    <a href="/" th:href="@{/}" class="btn btn-success">ログインリンク取得画面へ</a>
  </section>
</body>
</html>