<!DOCTYP html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <meta th:remove="all" charset="utf-8"/>
  <title>ログインできませんでした</title>
</head>
<body>
<div layout:fragment="content">
  <h2>ログインできませんでした</h2>
  <section>
    ログインリンクに誤りがあるか、有効期限が切れています。リンクを確認の上、アドレスバーに正しく入力してください。
    有効なログインリンクを取得する場合は、以下のボタンを押してください。
  </section>
  <section>
    <a href="/" th:href="@{/}" class="btn btn-success">ログインリンク取得画面へ</a>
  </section>
</div>
</body>
</html>